---
language: ruby
bundler_args: --without development
before_install: rm Gemfile.lock || true
rvm:
  - 2.0.0
  - 2.1.0
script: bundle exec rake test
env:
  - PUPPET_VERSION="~> 3.7.0" STRICT_VARIABLES=yes
  - PUPPET_VERSION="~> 3.8.0" STRICT_VARIABLES=yes
sudo: false
